<!DOCTYPE html>
<html ng-app="Translate">
<head>
	<title>Translate</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../CSS/style.css">
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
</head>
<body ng-controller="QuizController">
<div class="container">
	<div class="row">
		<div class="col-xs-offset-4">
			<h1>QUIZ TIME</h1>
		</div>
		<div>
			<p>What language would you like to test yourself on?</p>
		</div>
			<div class="dropdown btn-group">
		  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Language <span class="caret"></span>
		  		</button>
			  <ul class="dropdown-menu">
			    <li ng-repeat="languages in languageCodes">
			    	<a href="#" ng-click="doTest(languages)">{{languages.name}}</a>
			    </li>
			  </ul>
			  	<li>
			 	 <p>How do you spell "{{test[0]}}" in {{testingInfo.name}}?</p>
				</li>
			</div>
		<div>
			<input></input>
			<input type="submit" class="btn btn-default"/>
		</div>

	</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="../JS/main.js"></script>
<script type="text/javascript" src="../JS/quizAng.js"></script>
</body>
</html>